/datasets/*/*/*
/datasets/*/ECHR.pkl
/datasets/*/ECHR.txt
/datasets/*/precedent.zip
/datasets/*/alleged.zip
/datasets/*/dev.jsonl
/datasets/*/test.jsonl
/datasets/*/train.jsonl
/datasets/*/precedent.zip
!/datasets/precedent/bert/Archive.zip
!/datasets/precedent/legal_bert/Archive.zip
#!/src/analyse/outdir
/src/train/trained_models/*/*/*/*/*
!/src/train/trained_models/*/*/*/*/results.csv
!/src/train/trained_models/*/*/*/*/embeddings.pkl
/src/analyse/outdir